.instagram {
    background-image: url('../images/instagram-logo.png');
}

.substack {
    background-image: url('../images/substack-logo.png');
}

.intro-image-when-in-dome {
    background-image: url('../projects/when-in-dome/images/when-in-dome-intro.jpg');
}

.hero-image-when-in-dome {
    background-image: url('../projects/when-in-dome/images/when-in-dome-1.png');
}

.intro-image-collaborative {
    background-image: url('../projects/collaborative-control/images/collaborative-thumb.png');
}

.hero-image-collaborative {
    background-image: url('../projects/collaborative-control/images/collaborative-hero.png');
}

.intro-image-flock {
    background-image: url('../projects/flock/images/flock-hero.png');
}

.hero-image-flock{
    background-image: url('../projects/flock/images/flock-hero.png');
}

.intro-image-handwriting {
    background-image: url('../projects/handwriting/images/handwriting-thumb-3.png');
}

.hero-image-handwriting{
    background-image: url('../projects/handwriting/images/handwriting-hero-3.png');
}


.hero-image-art{
    background-image: url('../projects/algorithmic-art/images/art-hero.png');
}

.intro-image-art{
    background-image: url('../projects/algorithmic-art/images/art-thumb.png');
}


.hero-image-usga{
    background-image: url('../projects/usga/images/usga-hero.png');
}

.intro-image-usga{
    background-image: url('../projects/usga/images/usga-intro.png');
}