.instagram {
    background-image: url('../images/instagram-logo.png');
}

.substack {
    background-image: url('../images/substack-logo.png');
}

.intro-image-when-in-dome {
    background-image: url('../projects/images/when-in-dome/when-in-dome-intro.jpg');
}

.hero-image-when-in-dome {
    background-image: url('../projects/images/when-in-dome/when-in-dome-1.png');
}

.intro-image-collaborative {
    background-image: url('../projects/images/collaborative/collaborative-thumb.png');
}

.hero-image-collaborative {
    background-image: url('../projects/images/collaborative/collaborative-hero.png');
}

.intro-image-flock {
    background-image: url('../projects/images/flock/flock-hero.png');
}

.hero-image-flock{
    background-image: url('../projects/images/flock/flock-hero.png');
}

.intro-image-handwriting {
    background-image: url('../projects/images/handwriting/handwriting-thumb-3.png');
}

.hero-image-handwriting{
    background-image: url('../projects/images/handwriting/handwriting-hero-3.png');
}