.instagram {
    background-image: url('../images/instagram-logo.png');
}

.substack {
    background-image: url('../images/substack-logo.png');
}

.intro-image-when-in-dome {
    background-image: url('../projects/images/when-in-dome/when-in-dome-intro.jpg');
}

.hero-image-when-in-dome {
    background-image: url('../projects/images/when-in-dome/when-in-dome-1.png');
}

.intro-image-flock {
    background-image: url('../projects/images/flock/flock-intro.jpg');
}