<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZXEPMNTTG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GZXEPMNTTG');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Case study page template for the Creative Technology portfolio.">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://creative.amygoodchild.com/projects/template/">
    <meta property="og:title" content="XXX - Project Title | Amy Goodchild">
    <meta property="og:description" content="Case study page template for the Creative Technology portfolio.">
    <meta property="og:image" content="https://creative.amygoodchild.com/projects/template/images/image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Portfolio case study template">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XXX - Project Title | Amy Goodchild">
    <meta name="twitter:description" content="Case study page template for the Creative Technology portfolio.">
    <meta name="twitter:image" content="https://creative.amygoodchild.com/projects/template/images/image.png">
    <link rel="icon" href="../../images/favicon.png" type="image/png">
    <title>XXX - Project Title | Amy Goodchild</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../image-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@050;100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@50;100;200;300;400;600;700&display=swap" rel="stylesheet">
   
</head>
<body>
    <main class="project-content-wrapper">

        <nav class="main-nav" id="main-nav">
            <button class="nav-hamburger" id="nav-hamburger" aria-label="Open menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="nav-links">
                <a href="../../#work">Work</a>
                <a href="../../#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </nav>

        <div class="secondary-nav">
            <a href="https://www.instagram.com/amy_goodchild" class="secondary-nav-link instagram" target="_blank"></a>
            <a href="https://amygoodchild.substack.com/" class="secondary-nav-link substack" target="_blank"></a>
        </div>
        

        <!-- Hero Section -->
        <div class="case-study-sticky-header">
            <a href="../../" class="hero-name">Amy Goodchild</a>
        </div>
        <section class="case-study-hero hero-image-xxx">
            <h1 class="case-study-hero-title" id="case-study-hero-title">XXX - Project Title</h1>
        </section>

        <!-- Content Sections -->
        <article class="case-study-content">
            <section class="case-study-section section-main-width">

                <div class="case-study-columns">
                    <div class="case-study-facts"><div class="large">123</div><div class="small">lorem</div></div>
                    <div class="case-study-facts"><div class="large">123</div><div class="small">lorem</div></div>
                    <div class="case-study-facts"><div class="large">123</div><div class="small">lorem</div></div>
                    <div class="case-study-facts"><div class="large">123</div><div class="small">lorem</div></div>
                    <div class="case-study-facts"><div class="large">123</div><div class="small">lorem</div></div>
                </div>
                <div class="case-study-intro-text">
                    <p><i>Lorem ipsum</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lectus ex. Duis mauris odio, egestas ac auctor quis, faucibus quis odio. Donec sodales erat a fermentum pretium. Donec vel ex ac neque scelerisque fermentum.</p>
                </div>
                <div class="case-study-tags">
                    <div class="case-study-tag">Tag</div>
                    <div class="case-study-tag">Skill</div>
                    <div class="case-study-tag">Technology</div>
                    <div class="case-study-tag">Skill</div>
                    <div class="case-study-tag">Technology</div>
                    <div class="case-study-tag">Skill</div>
                    <div class="case-study-tag">Technology</div>
                    <div class="case-study-tag">Skill</div>
                </div>
            </section>

            <!-- Video only -->
            <section class="case-study-section section-wide-width">
                <video class="case-study-visual" src="images/video.mp4" autoplay controls loop muted playsinline></video>
            </section>

            <!-- Text only -->
            <section class="case-study-section section-main-width">
                <div class="case-study-text">
                    <h4 class="case-study-content-title">XXXX - Section heading</h4>
                    <p>Integer bibendum nibh ipsum, et ornare sem lobortis vitae. Aenean mollis tempus magna, id porttitor tellus pulvinar in. Duis dui turpis, viverra at elit nec.</p>
                    <p>Tempor pulvinar neque. Vivamus laoreet nisi vitae nulla varius, id faucibus enim placerat. Fusce vel diam quam.</p>
                </div>
            </section>


            <!-- Text and one image -->
            <section class="case-study-section section-main-width">
                <div class="case-study-text">
                    <h4 class="case-study-content-title">XXXX - Section heading</h4>
                    <p>Nullam accumsan lacus nunc. Nam et enim ligula. Donec vitae odio eu ipsum bibendum efficitur ac vitae orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
                <div class="case-study-img-gallery one-wide">
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                </div>
            </section>


     
            <!-- Text and two images -->
            <section class="case-study-section section-wide-width">
                <div class="case-study-text section-main-width">
                    <h4 class="case-study-content-title">XXXX - Section heading</h4>
                    <p>Nulla sem magna, molestie non risus non, aliquam sodales dui. Praesent fringilla sapien eget lectus volutpat semper. Ut iaculis varius orci in feugiat.</p>
                </div>
                <div class="case-study-img-gallery two-wide">
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                </div>
            </section>

            <!-- Text and three images --> 
            <section class="case-study-section section-wide-width">
                <div class="case-study-text section-main-width">
                    <h4 class="case-study-content-title">Section title</h4>
                    <p>Nullam cursus elementum est at porta. Proin viverra quis nisi id luctus. Donec pellentesque odio mauris, ac dapibus lacus vehicula eget. Curabitur eget massa et est malesuada lacinia. Etiam ac pulvinar turpis. Quisque semper, nunc eget dignissim faucibus, metus erat facilisis leo, eget bibendum lorem ex pulvinar nibh.</p>
                </div>
  
                <div class="case-study-img-gallery three-wide-side-by-side">
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                </div>
            </section>


            <!-- Text and four images -->
            <section class="case-study-section section-full-width">
                <div class="case-study-text section-main-width">
                    <h4 class="case-study-content-title">XXXX - Section heading</h4>
                    <p>Quisque nisl felis, pharetra ac imperdiet in, pharetra pellentesque nisi. Ut ultrices risus lacus, luctus rutrum est ultrices vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
                <div class="case-study-img-gallery four-wide">
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>
                    <div class="media-content">
                        <img src="images/image.png" alt="alttext">
                        <div class="caption">Caption</div>
                    </div>                                     
                </div>
            </section>


            <!-- Text and video -->
            <section class="case-study-section section-main-width">
                <div class="case-study-text">
                    <h4 class="case-study-content-title">XXXX - Section heading</h4>
                    <p>Nullam accumsan lacus nunc. Nam et enim ligula. Donec vitae odio eu ipsum bibendum efficitur ac vitae orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
                
                <div class="media-content">
                    <video class="case-study-visual" src="images/video.mp4" autoplay controls loop muted playsinline></video>
                    <div class="caption">caption</div>
                </div> 
            </section>
        </article>

        <div class="other-projects-holder">
            <div class="other-projects-title">More projects</div>
            <div class="other-projects">
                <a class="other-project border" href="../when-in-dome">
                    <div class="other-project-image intro-image-when-in-dome"><div class="other-project-title">When in Dome</div></div>
                    <div class="other-project-description">Geodesic dome filled with LEDs that react to your movement</div>
                </a>
                <a class="other-project border" href="../flock">
                    <div class="other-project-image hero-image-flock"><div class="other-project-title">Flock</div></div>
                    <div class="other-project-description">Multiplayer art, a shared experience at a distance.</div>
                </a>

                <a class="other-project border" href="../handwriting">
                    <div class="other-project-image intro-image-handwriting"><div class="other-project-title">Handwriting</div></div>
                    <div class="other-project-description">Generated text in my handwriting, coded in JavaScript.</div>
                </a>

                <a class="other-project border" href="../collaborative-control">
                    <div class="other-project-image intro-image-collaborative"><div class="other-project-title">Collaborative control</div></div>
                    <div class="other-project-description">Exploring prototypes for multi-user control of a system.</div>
                </a>
            </div>
        </div>



        <div class="contact-footer-holder">
            <div class="contact-form-container" id="contact">
                <div class="contact-form-title">Get in touch!</div>
                <form class="contact-form" action="https://formsubmit.co/877b141b9d50758469f9c64358b78f28" method="POST">
                    <input type="hidden" name="_subject" value="Contact form submission - Amy Goodchild">
                    <div class="form-item">
                        <label for="name">Your name</label>
                        <input id="name" type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-item">
                        <label for="email">Your email</label>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-item">
                        <label for="message">Your message</label>
                        <textarea id="message" name="message" placeholder="Message" rows="3" required></textarea>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="contact-submit">Send</button>
                    </div>
                </form>
            </div>

            <footer class="footer">
                <div class="footer-content">
                    <div class="footer-links">
                        <a href="https://instagram.com/amy_goodchild" target="_blank">Instagram</a>
                        <a href="https://amygoodchild.substack.com" target="_blank">Substack</a>
                        <a href="https://github.com/amygoodchild" target="_blank">Github</a>
                    </div>
                </div>
            </footer>
        </div>

    </main>

    <script src="../../nav-script.js"></script>
</body>
</html>
